//Default Variables
$primary-color: #ff4655;
$body-text:#343439;

//font-family variable
$font-regular: 'poppinsregular';
$font-bold: 'poppinsbold';
$font-light: 'poppinslight';
$font-medium: 'poppinsmedium';

//color Variables
$white: #FFFFFF;
$black: #000000;
$red: #E00034;
$green: #008A09;
$blue: #1673FF;
$body-bg-color: #040f16;
$facebook-color: #3b5998;
$instagram-color: #962fbf;
$twitter-color: #00acee;
$youtube-color: #FF0000;
